body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #3e4447;
	margin: 0;
	background-image: url(../img/squairy_light.png);
}

a {
	text-decoration: none;
}

#logo {
	display: inline-block;
}

nav {
	height: 100px;
	width: 100%;
	background: white;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	position: relative;
	text-align: center;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	height: 100px;
	float: right;
}

nav ul a {
	opacity: 0.2;
}

nav li {
	display: inline-block;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

nav a:hover, nav a:active {
	opacity: 1;
}

@media screen and (min-width: 601px) {
	nav a#logo {
		padding-top: 20px;
		padding-left: 40px;
		float: left;
	}
	nav a#menu {
		display: none;
	}
	nav ul {
		padding-right: 20px;
	}
}

@media screen and (max-width: 600px) {
	nav {
		height: 60px;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#menu {
		display: none;
	}

	nav a#logo {
		padding-top: 9px;
	}

	nav a img#resize {
		width: 160px;
		height: auto;
	}

	nav a#menu {
		display: block;
		width: 32px;
		height: 32px;
		margin-top: 16px;
		margin-left: 20px;
		position: absolute;
	}

	/*nav a#logo:after {
		content: "";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}*/
}

@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
}

.nav-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	color: black;
	margin-right: 40px;
	letter-spacing: 2px;
	opacity: 0.2;
	line-height: 100px;
}

.nav-link.selected {
	opacity: 1;
}

.task-filter {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 40px;
	letter-spacing: 2px;
	color: black;
	opacity: .2;
}

.task-filter.selected {
	color: #21baea;
	opacity: 1;
}

article {
	max-width: 920px;
	margin: auto;
	padding: 0 12px;
}

#tasks li {
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	padding: 8px;
	list-style-type: none;
	text-indent: 0;
	margin-bottom: 10px;
}

#tasks ul {
	padding: 0;
	margin: 0;
}
