body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #3e4447;
	margin: 0;
	background-image: url(../img/squairy_light.png);
}

a {
	text-decoration: none;
}

#logo {
	display: inline-block;
}

nav {
	height: 100px;
	width: 100%;
	background: white;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	position: relative;
	text-align: center;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	height: 100px;
	float: right;
}

nav ul a {
	opacity: 0.2;
}

nav li {
	display: inline-block;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

nav a:hover, nav a:active {
	opacity: 1;
}

/* Splash */

.splash {
	background: url('../img/splash_bg.jpg') no-repeat;
	background-size: cover;
	color: #cdf;
}

.splash-header {
	font-size: 36px;
	font-weight: 400;
	color: white;
	margin-top: 40px;
}

.splash article {
	margin: 0 40px;
}

/* Tasks */

div#tasks {
	padding-top: 28px;
	margin: 10px;
}

div#filters {
	padding-left: 24px;
	padding-bottom: 10px;
}

.nav-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	color: black;
	margin-right: 40px;
	letter-spacing: 2px;
	opacity: 0.2;
	line-height: 100px;
}

.nav-link.selected {
	opacity: 1;
}

.task-filter {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 20px;
	letter-spacing: 2px;
	color: #3e4447;
	opacity: .2;
}

.task-filter.selected {
	color: #21baea;
	opacity: 1;
}

article {
	max-width: 920px;
	margin: auto;
	padding: 0 0px;
}

#tasks ul {
	padding: 0;
	margin: 0;
}

.task {
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	padding: 14px;
	list-style-type: none;
	margin-bottom: 10px;
}
.title {
	padding-left: 10px;
}
.task .title {
	display: inline-block;
	font-size: 18px;
}

.task.expanded .title {
	color: #21baea;
}

.task .amount {
	padding-top: 2px;
	font-weight: 600;
	color: #21baea;
	display: inline-block;
	width: 2em;
	padding-right: 10px;
}

.right-aligned-li {
	float: right;
	padding-right: 12px;
}

.task .due-date {
	display: inline-block;
	white-space: nowrap;
	width: 12em;
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}

/*.task .toggle {
	padding-left: 14px;
	padding-right: 14px;
	float: right;
	width: 8px;
	height: 12px;
}*/

.task .coach {
}

.expanded-show {
	margin-top: 20px;
	background-color: #f7f7f7;
}

.coach {
	padding-top: 12px;
}
.coach-title {
	padding-left: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.coach-body {
	padding-left: 12px;
	font-family: 'Open Sans', sans-serif;
}

.description-title {
	padding-left: 14px;
	padding-top: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding-right: 12px;
}

.description {
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 4px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 12px;
}
.buttons {
	float: right;
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom: 12px;
	padding-top: 12px;
}
.blue {
	background: #21baea;
	border: 0px;
	height: 40px;
	width: 180px;
	font-color: white;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;

}
.gray {
	margin-right: 8px;
	background: #3e4447;
	opacity: 0.2;
	border: 0px;
	height: 40px;
	width: 180px;
	font-color: white;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.amount-alt {
	padding-top: 12px;
	padding-left: 14px;
	font-weight: 600;
	color: #21baea;
	display: inline-block;
	width: 2em;
	padding-right: 10px;
}

.due-date-alt {
	float: right;
	padding-top: 12px;
	padding-right: 14px;
	display: inline-block;
	width: 5em;
	padding-right: 10px;
	text-align: right;
}

@media screen and (min-width: 601px) {
	.amount-alt {
		display: none;
	}
	.due-date-alt {
		display: none;
	}
	nav a#logo {
		padding-top: 20px;
		padding-left: 40px;
		float: left;
	}
	nav a#menu {
		display: none;
	}
	nav ul {
		padding-right: 20px;
	}
}

@media screen and (max-width: 600px) {
	nav {
		height: 60px;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#menu {
		display: none;
	}

	nav a#logo {
		padding-top: 9px;
	}

	nav a img#resize {
		width: 160px;
		height: auto;
	}

	nav a#menu {
		display: block;
		width: 32px;
		height: 32px;
		margin-top: 16px;
		margin-left: 20px;
		position: absolute;
	}
	div#tasks {
		padding-top: 8px;
	}
	div#filters {
		padding-bottom: 16px;
	}
	
	.task .amount {
		display: none;
	}
	.task .due-date {
		display: none;
	}
	.buttons {
	}
	.blue {
		width: 150px;
		font-size: 12px;
		font-weight: 500;
	}
	.gray {
		width: 150px;
		font-size: 12px;
		font-weight: 500;
	}
	/*nav a#logo:after {
		content: "";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}*/
}

@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
}
