body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #3e4447;
	margin: 0;
	background-image: url(../img/squairy_light.png);
}

a {
	text-decoration: none;
}

#logo {
	display: inline-block;
	margin: 0;
}

nav {
	height: 100px;
	width: 100%;
	background: white;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #3e4447;
	position: relative;
	text-align: center;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	height: 100px;
	float: right;
}

nav ul a {
	opacity: 0.2;
}

nav li {
	display: inline-block;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

nav a:hover {
	opacity: 1
}

nav a:active{
	opacity: 0.8;

/* Splash */

.splash {
	background: url('../img/splash_bg.jpg') no-repeat;
	background-size: cover;
	color: #cdf;
}

.splash-header {
	font-size: 36px;
	font-weight: 400;
	color: white;
	margin-top: 40px;
}

.splash article {
	margin: 40px;
}

.splash .login {
	margin: 30px;
}

/* Tasks */

div#tasks {
	padding-top: 28px;
	margin: 10px;
}

div#filters {
	padding-left: 24px;
	padding-bottom: 10px;
}

.category {

}

.nav-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	color: #3e4447;
	margin-right: 40px;
	letter-spacing: 2px;
	opacity: 0.2;
	line-height: 100px;
}

.nav-link.selected {
	opacity: 0.6;
}

.task-filter {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 20px;
	letter-spacing: 2px;
	color: #3e4447;
	opacity: .2;
}

.task-filter.selected {
	color: #21baea;
	opacity: 1;
}

article {
	max-width: 920px;
	margin: auto;
	padding: 0 0px;
}

#tasks ul {
	padding: 0;
	margin: 0;
}

.task {
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	padding: 14px;
	list-style-type: none;
	margin-bottom: 10px;
	cursor: pointer;
}

.task:hover {
	background-color: #fbfbfb;
}
.task:active {
	background-color: #f6f6f6;
}

.title {
	padding-left: 10px;
}

.task .title-alt {
	font-weight: 700;
	display: inline-block;
	font-size: 18px;
	padding-right: 10px;
	opacity: 0.25;
}

.task .title {
	display: inline-block;
	font-size: 18px;
}

.task.expanded .title {
	color: #21baea;
}

.task .amount {
	padding-top: 2px;
	font-weight: 600;
	color: #21baea;
	display: inline-block;
	width: 2em;
	padding-right: 10px;
}

.right-aligned-li {
	float: right;
	padding-right: 12px;
}

.task .due-date {
	display: inline-block;
	white-space: nowrap;
	width: 12em;
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}

/*.task .toggle {
	padding-left: 14px;
	padding-right: 14px;
	float: right;
	width: 8px;
	height: 12px;
}*/

.expanded-show {
	margin-top: 8px;
	/*background-color: #f7f7f7;*/
}

.coach {
	padding-top: 12px;
}
.coach-title {
	padding-left: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.coach-body {
	padding-left: 12px;
	font-family: 'Open Sans', sans-serif;
}

.descriptions {
	display: inline;
}

.description-title {
	padding-left: 12px;
	padding-top: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding-right: 12px;
}

.description {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 12px;
}
.buttons {
	float: right;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 8px;
	padding-top: 12px;
}
.blue {
	background: #21baea;
	border: 0px;
	height: 40px;
	width: 180px;
	font-color: white;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.blue:hover {
	background: #16acdc;
}
.blue:active {
	background: #0a9ece;
}

.darkblue {
	background: #004b68;
	border: 0px;
	height: 54px;
	width: 180px;
	font-color: white;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.gray {
	background: #3e4447;
	opacity: 0.2;
	border: 0px;
	height: 40px;
	width: 180px;
	font-color: white;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.gray:hover {
	opacity: 0.3;
}
.gray:active {
	opacity: 0.5;
}

.multiple-buttons {
	margin-right: 24px;
}

.solo-button {
	margin-top: 40px;
}

.amount-alt {
	padding-top: 12px;
	padding-left: 14px;
	font-weight: 600;
	color: #21baea;
	display: inline-block;
	width: 2em;
	padding-right: 10px;
}

.due-date-alt {
	float: right;
	padding-top: 12px;
	padding-right: 14px;
	display: inline-block;
	padding-right: 10px;
	width: 12em;
	text-align: right;
	color: #999;
}

/* Settings */

#settings ul {
	padding: 0;
	margin: 0;
}

div#settings {
	padding-top: 28px;
	margin: 10px;
}

div#categories {
	padding-left: 24px;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 20px;
	letter-spacing: 2px;
	color: #3e4447;
	opacity: 0.2;
}

div#categoriestwo {
	margin-top: 40px;
	padding-left: 24px;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 20px;
	letter-spacing: 2px;
	color: #3e4447;
	opacity: 0.2;
}


#about li {
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	padding: 14px;
	list-style-type: none;
	margin-bottom: 10px;
	cursor: pointer;
}

.setting {
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	padding: 14px;
	list-style-type: none;
	margin-bottom: 10px;
	cursor: pointer;
}

.setting:hover {
	background-color: #fbfbfb;
}
.setting:active {
	background-color: #f6f6f6;
}

.setting .title-alt {
	font-weight: 700;
	display: inline-block;
	font-size: 18px;
	padding-right: 18px;
	opacity: 0.25;
}

.setting .title {
	display: inline-block;
	font-size: 18px;
	color: #3e4447;
	width:6.65em;
}

.setting .status {
	padding-top: 2px;
	font-weight: 600;
	color: #21baea;
	display: inline-block;
	white-space: nowrap;
	width: 13em;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}

.logout {
	float: right;
}

.columns {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

@media screen and (max-width: 920px) {
	.columns {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
	list-style-type: none;
}

#about h1 {
	color: #21baea;
}

#about h2 {
	font-size: 1.25em;
	margin-left: 0.75em;
}

.checkbox label {
	cursor: pointer;
	position: relative;
	width: 1.4em;
	height: 1.4em;
	top: 0;
	left: 0;
	background: #eee;
	border:4px solid #555;
}

.checkbox label:after {
	opacity: 0;
	content: '';
	position: relative;
	width: 0.7em;
	height: 0.4em;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 4px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkbox label:hover::after {
	opacity: 0.5;
}

@media screen and (min-width: 601px) {
	.amount-alt {
		display: none;
	}
	.due-date-alt {
		display: none;
	}
	#logo {
		padding-top: 20px;
		padding-left: 40px;
		float: left;
	}
	nav a#menu {
		display: none;
	}
	nav ul {
		padding-right: 20px;
	}
}

@media screen and (max-width: 600px) {
	nav {
		height: auto;
		min-height: 60px;
		min-width: 280px;
	}
	nav ul {
		display: none;
		height: auto;
	}

	nav ul.expanded {
		display: block;
		float: left;
		margin-top: 50px;
		text-align: left;
	}
	nav ul.expanded li {
		display: block;
		margin: 1em;
	}
	nav ul.expanded a {
		line-height: 1em;
	}

	#logo {
		position: absolute;
		left: 0;
		right: 0;
		top: 9px;
	}

	nav a img#resize {
		width: 160px;
		height: auto;
	}

	nav a#menu {
		display: block;
		width: 32px;
		height: 32px;
		margin-top: 16px;
		margin-left: 20px;
		position: absolute;
	}
	div#tasks {
		padding-top: 8px;
	}
	
	.task .amount {
		display: none;
	}
	.task .due-date {
		display: none;
	}
	.buttons {
	}
	.blue {
		width: 150px;
		font-size: 12px;
		font-weight: 500;
	}
	.gray {
		width: 150px;
		font-size: 12px;
		font-weight: 500;
	}
	/*nav a#logo:after {
		content: "";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}*/
}

@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
}

.error {
	color: red;
}

.new-task .title-alt {
	display: block;
}

.new-task .title {
	width: 95%;
	display: block;
	margin: auto;
}
