<!doctype html>
<html ng-app="centivize">
	<head>
		<title>centivize</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="style/normalize.css">
		<link rel="stylesheet" href="style/main.css">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300" rel="stylesheet" type="text/css">

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js">
		</script>
		<script src="https://login.persona.org/include.js"></script>
                <script>
                  function onclicklogout() {
                      console.log("I AM NOW LOGGING OUT");
                      var xhr = new XMLHttpRequest();
                      xhr.open("POST", "/persona/logout", true);
                      xhr.addEventListener("loadend", function(e) {
                          location.reload();
                      });
                      xhr.send();
                  }
                </script>
		<script src="script/app.js"></script>
	</head>
	<body ng-app ng-controller="HomeController">

<nav class="clearfix" ng-click="$event.preventDefault()">
	<ul class="clearfix">
		<li><a href="#" ng-class="{'nav-link': true, selected: active=='tasks'}" ng-click="active='tasks'">Tasks</a></li>
		<li><a href="#" ng-class="{'nav-link': true, selected: active=='settings'}" ng-click="active='settings'">Settings</a></li>
		<li><a href="#" ng-class="{'nav-link': true, selected: active=='about'}" ng-click="active='about'">About</a></li>
	</ul>
	<a href="#" id="menu"><img src="img/nav-icon.svg"></a>
	<a href="#" id="logo"><img id="resize" src="img/centivize_logo.svg"></a>
</nav>

<article>

<div id="tasks" ng-show="active=='tasks'" ng-controller="TasksController">

	<div id="filters"> 
		<a href="" ng-class="{'task-filter': true, selected: !showComplete}" ng-click="showComplete = false">Current tasks</a>
		<a href="" ng-class="{'task-filter': true, selected: showComplete}" ng-click="showComplete = true">Completed tasks</a>
		<a href="" ng-class="{'task-filter': true, selected: showComplete}" onclick="onclicklogout()" ng-click="showComplete = true">Log the fuck out</a>

	</div>

	<ul>
		<li class="task" href="#" ng-click="toggleExpand(task)" ng-repeat="task in tasks" ng-show="task.completed == showComplete" ng-controller="TaskController">

		<span class="title">{{task.title}}</span>
		&nbsp;

		<span class="right-aligned-li">
			<span class="amount">{{task.amount | currency}}</span>

			<span class="due-date">{{task.dueDate | date:'EEEE @ h a'}}</span>
		</span>

		<div class="expanded-show clearfix" ng-show="task.isExpanded">
		
			<span class="amount-alt">{{task.amount | currency}}</span>
			<span class="due-date-alt">{{task.dueDate | date:'EEEE @ h a'}}</span>

			<div class="coach">
				<span class="coach-title">Coach</span>
				<span class="coach-body">{{task.coach}}</span>
			</div>
			
			<span class="descriptions" ng-show="task.description!=''">
				<div class="description-title">Description</div>
				<div class="description">{{task.description}}</div>
			</span>

			<div class="buttons">
				<button type="button" class="gray">Delete Task</button>
				<button type="button" class="blue">Task Completed</button>
			</div>
		</div>			


		</li>
		<li class="task clearfix"> <span class="title-alt">Add a task</span> </li>
	</ul>
</div>

<div ng-show="active=='settings'">
	Settings
</div>

<div ng-show="active=='about'">
  <ul>
    <li>
	<p>Get Stuff Done</p>
        <p>Centivize helps you take control of your to-do lists. Here's how it works:</p>
        <ul>
          <li> Add your tasks </li>
          <li> Commit some money to each task </li>
          <li> As you complete tasks, check them off to reclaim your incentive </li>
          <li> If you slack off on a task and its timer runs out, your money gets donated to a charity of your choice</li>
        </ul>
    </li>
    <li>
        <p>Slack Off, Save the World</p>
        <p>Centivize currently supports the following charities:</p>
        <ul>
          <li>CFY (cfy.org)</li>
          <li>charity: water (charitywater.org)</li>
          <li>DonorsChoose.org (donorschoose.org)</li>
          <li>Fuck Cancer (letsfcancer.com)</li>
          <li>Goods for Good (goodsforgood.org)</li>
          <li>hackNY (hackny.org)</li>
          <li> iMentor (imentor.org)</li>
          <li> Kiva (kiva.org)</li>
          <li> Pencils of Promise (pencilsofpromise.org)</li>
          <li> She's the First (shesthefirst.org)</li>
          <li> United Way of New York City (unitedwaynyc.org)</li>
        </ul>
    </li>
    <li>
        <p>Better with Friends</p>
        <p>Sometimes, money isn't the best motivator. That's why Centivize has you
        select a friend to be your personal coach for each task. Your coach will
        receive an update when you complete the task and will be asked to verify
        that you've stuck to your goals. If you slack off, your coach will get a
        notification when your timer expires.</p>
    </li>
    <li>
        <p>Origin Story</p>
        <p>Centivize was created by Viraj Bindra, Charles Lehner, Glen Oakley, and
        Greg Owen at PennApps Fall 2013, where it won all of the prizes.</p>
    </li>
  </ul>
</div>

</article>

	</body>
</html>

