<!doctype html>
<html ng-app="centivize">
	<head>
		<title>centivize</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="style/normalize.css">
		<link rel="stylesheet" href="style/main.css">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300" rel="stylesheet" type="text/css">

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js">
		</script>
		<script src="https://login.persona.org/include.js"></script>
                <script>
                  function onclicklogout() {
                      console.log("I AM NOW LOGGING OUT");
                      var xhr = new XMLHttpRequest();
                      xhr.open("POST", "/persona/logout", true);
                      xhr.addEventListener("loadend", function(e) {
                          location.reload();
                      });
                      xhr.send();
                  }
                </script>
		<script src="script/app.js"></script>
	</head>
	<body ng-app ng-controller="HomeController">

<nav class="clearfix" ng-click="$event.preventDefault()">
	<ul ng-class="{clearfix: true, expanded: menuExpanded}">
		<li><a href="#" ng-class="{'nav-link': true, selected: active=='tasks'}" ng-click="active='tasks'">Tasks</a></li>
		<li><a href="#" ng-class="{'nav-link': true, selected: active=='settings'}" ng-click="active='settings'">Settings</a></li>
		<li><a href="#" ng-class="{'nav-link': true, selected: active=='about'}" ng-click="active='about'">About</a></li>
	</ul>
	<h1 id="logo">
		<a href="#"><img id="resize" src="img/centivize_logo.svg"></a>
	</h1>
	<a href="#" id="menu" ng-click="toggleMenu()"><img src="img/nav-icon.svg"></a>
</nav>
<div class="yellow-shit"></div>

<article>

<div id="tasks" ng-show="active=='tasks'" ng-controller="TasksController">

	<div id="filters"> 
		<a href="" class="task-filter selected">Current tasks</a>

	</div>

	<ul>

		<li ng-class="{task: true, expanded: task.isExpanded}" ng-repeat="task in tasks">

		<div class="task-handle" ng-click="toggleExpand(task)">
		<span class="title">{{task.name}}</span>

		<span class="right-aligned-li">
			<span class="amount">{{task.value | currency}}</span>

			<span class="due-date">{{task.date | date:'EEEE @ h a'}}</span>
		</span>
		</div>

		<div class="expanded-show clearfix" ng-show="task.isExpanded">
		
			<span class="amount-alt">{{task.value | currency}}</span>
			<span class="due-date-alt">{{task.date | date:'EEEE @ h a'}}</span>

			<div class="coach">
				<span class="coach-title">Coach</span>
				<span class="coach-body">{{task.coach}}</span>
			</div>

			<div class="descriptions" ng-show="task.description">
				<div class="description-title">Description</div>
				<div class="description">{{task.description}}</div>
			</div>

			<div class="buttons">
				<button type="button" class="gray multiple-buttons" ng-click="destroy(task)">Delete Task</button>
				<button type="button" class="blue" ng-click="complete(task)">Task Completed</button>
			</div>

			<div class="error">{{task.error}}</div>
		</div>			

		</li>

		<li class="task new-task clearfix">
			<form action="" ng-submit="create(newTask)">

			<div class="title-alt" ng-click="toggleExpand(newTask)">Add a task</div>
			<div class="expanded-show" ng-show="newTask.isExpanded">

				<div class="row"> 

				<input class="text-entry first-margin" placeholder="New Task" ng-model="newTask.name">
				</div>
				
				<div class="columns">
					<ul>
						<li class="label-entry">
							<span class="label-entry-title">Coach</span><br>
							<input class="text-entry half"  placeholder="coach@domain.com" ng-model="newTask.coach">
						</li>
						<li class="label-entry">
							<span class="label-entry-title">Dwolla Pin</span><br>
							<input type="password" maxlength="4" class="text-entry half" placeholder="****" ng-model="newTask.pin">
						</li>
						<li class="label-entry">
							<span class="label-entry-title">Completion Date</span><br>
							<input class="text-entry half" maxlength="10" placeholder="MM/DD/YYYY" ng-model="newTask.date">
						</li>
						<li class="label-entry">
							<span class="label-entry-title">Your Stake (USD)</span><br>
							<input class="text-entry half" placeholder="1.00" ng-model="newTask.value">
						</li>

					</ul>
				</div>

				<div class="row nudge-down">
				<span class="label-entry-title">Description (Optional)</span><br>
				<textarea rows="4" class="area-entry" ng-model="newTask.description"></textarea>
				</div>

				<button type="submit" class="blue bottom-right">Add Task</button>

				<div class="fine-print">When you add a task, your account will automatically be debited the amount of your stake, which we'll store until you finish your task. If you get it done by your completion date, you'll get your money back! If not, we'll donate it to the charity you specified in SETTINGS. If you have any questions, please feel free to reach out to our support staff.</div>

				<div class="error">{{newTask.error}}</div>

				</form>
			</div>
		</li>
	</ul>
</div>

<div id="settings" ng-show="active=='settings'" ng-controller="SettingsController">

	<div id="categories"> 
		<span class="category">Account</span>
	</div>

	<div class="columns"><ul class="col">
		<li class="setting" ng-click="toggleExpand(task)">
			<span class="title">First Name</span> &nbsp;
			<span class="right-aligned-li">
				<span class="status">{{settings.firstName}}</span>
			</span>
		</li>

		<li class="setting" ng-click="toggleExpand(task)">
			<span class="title">Last Name</span>&nbsp;
			<span class="right-aligned-li">
				<span class="status">{{settings.lastName}}</span>
			</span>
		</li>

		<li class="setting" ng-click="toggleExpand(task)">
			<span class="title">Email</span>&nbsp;
			<span class="right-aligned-li">
				<span class="status">{{settings.email}}</span>
			</span>
		</li>
	</ul></div>

	<div id="categoriestwo"> 
		<span class="category">Defaults</span>
	</div>

	<div class="columns"><ul class="col">
		<li class="setting" ng-click="toggleExpand(task)">
			<span class="title">Charity</span> &nbsp;
			<span class="right-aligned-li">
				<span class="status">{{settings.charity}}</span>
			</span>
		</li>

		<li class="setting" ng-click="toggleExpand(task)">
			<span class="title">Stake</span>&nbsp;
			<span class="right-aligned-li">
				<span class="status">{{settings.value | currency}}</span>
			</span>
		</li>

		<li class="setting" ng-click="toggleExpand(task)">
			<span class="title">Coach</span>&nbsp;
			<span class="right-aligned-li">
				<span class="status">{{settings.coach}}</span>
			</span>
		</li>

		<li class="setting" ng-click="toggleExpand(task)">
			<span class="title">Review Period</span>&nbsp;
			<span class="right-aligned-li">
				<span class="status">{{settings.reviewHours}} hours</span>
			</span>
		</li>
	</ul></div>

	<div class="logout">
		<button type="button" class="gray solo-button task-filter" href="#" onclick="onclicklogout()">Logout</button>
	</div>
</div>

<div ng-show="active=='about'" id="about">
  <ul>
    <li class="about">
	<h1>Get Stuff Done</h1>
        <h2>Centivize helps you take control of your to-do lists. Here's how it works:</h2>
        <ul>
          <li> Add your tasks </li>
          <li> Commit some money to each task </li>
          <li> As you complete tasks, check them off to reclaim your incentive </li>
          <li> If you slack off on a task and its timer runs out, your money gets donated to a charity of your choice</li>
        </ul>
    </li>
    <li>
        <h1>Slack Off, Save the World</h1>
        <h2>Centivize currently supports the following charities:</h2>
        <ul>
          <li>CFY (cfy.org)</li>
          <li>charity: water (charitywater.org)</li>
          <li>DonorsChoose.org (donorschoose.org)</li>
          <li>Fuck Cancer (letsfcancer.com)</li>
          <li>Goods for Good (goodsforgood.org)</li>
          <li>hackNY (hackny.org)</li>
          <li> iMentor (imentor.org)</li>
          <li> Kiva (kiva.org)</li>
          <li> Pencils of Promise (pencilsofpromise.org)</li>
          <li> She's the First (shesthefirst.org)</li>
          <li> United Way of New York City (unitedwaynyc.org)</li>
        </ul>
    </li>
    <li>
        <h1>Better with Friends</h1>
        <h2>Sometimes, money isn't the best motivator.</h2>
        <p> That's why Centivize has you select a friend to be your personal coach
        for each task. Your coach will receive an update when you complete the
        task and will be asked to verify that you've stuck to your goals. If you
        slack off, your coach will get a notification when your timer expires.</p>
    </li>
    <li>
        <h1>Origin Story</h1>
        <p>Centivize was created by Viraj Bindra, Charles Lehner, Glen Oakley, and
        Greg Owen at PennApps Fall 2013, where it won all of the prizes.</p>
    </li>
  </ul>
</div>

</article>

	</body>
</html>

