<html>
<head></head>
<body>
<p>Your manchild <%= user %> is nearing a task completion; please respond before <%= expiration %></p>
<p>Click here to approve: <%= approval %></p>
<p>Click here to deny: <%= denial %></p>
</body>
</html>
