<html>
<head></head>
<body>
<p>Your friend <%= user %> has selected you as their coach the following task:</p>
<p><%= task %>: <%= description %></p>
<p>As the coach for this task, you will verify whether or not <%= user %> has met their goal.</p>
</body>
</html>
